In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('/Users/ericnguyen/Desktop/initialCapesInfo.csv')

In [3]:
## Storing the original data into a duplicate dataframe

copy = df
df.tail()

,Instructor,Course,Term,Enroll,Evals Made,Rcmd Class,Rcmnd Instr,Study Hours/week,avg Grade Expected,Average grade received
4112,"Pafunda, Danielle",LTWR 115 - Experimental Writing Workshop (A),WI18,18,7,100.0 %,100.0 %,4.50,A (4.00),NaN
4113,"Hoang, Lily Kim",LTWR 126 - Creative Nonfiction Workshop (A),WI18,12,4,100.0 %,100.0 %,7.00,A- (3.75),NaN
4114,"Hoang, Lily Kim",LTWR 140 - History of Writing (A),WI18,34,7,85.7 %,85.7 %,2.50,A- (3.86),A- (3.74)
4115,"Doller, Ben",LTWR 8B - Writing Poetry (A),WI18,99,50,95.8 %,91.7 %,2.83,A- (3.87),A- (3.92)
4116,"Forbes, Camille",LTWR 8C - Writing Non-Fiction (A),WI18,61,47,83.0 %,89.1 %,3.31,B+ (3.45),B+ (3.38)

# Dropping Columns 

The objective at hand is to determine if certain factors influence a 
professors' salary. The factors we chose to analyze was the recomendation 
professors recieve, the department they work for, and the 
average grade of their students. For this reason, we decided to drop all
the rows that did not pertain to these factors. However, we decided to 
keep the number of students enrolled in a class as this may be a
cofounding variable that affects how much a professors gets payed.

In [4]:
copy = copy.drop(columns = ['Term','Evals Made', 'Rcmd Class', 'Study Hours/week', 'Average grade received'])

# Standardizing the department

Each row in the table represents a different course/section that a professors has taught. However, in order to determine if a professor's salary is correlated eith the department they teach in, we must standardize each of these courses by their department. To do so, we declare a function that determines what department a course in based on the acronym of the course title. We then apply this function to the column containing the course titles.

In [5]:
def standardize_department(string):
    
    string = string.strip()
    string = string[:4]

    
    if 'AN' in string:
        output = 'Anthropology'
    elif 'BENG' in string:
        output = 'Bioengineering'
    elif 'BI' in string:
        output = 'Biology'
    elif 'CAT' in string:
        output = 'Sixith College'
    elif 'CGS' in string:
        output = 'Critical Gender Studies'
    elif 'CHEM' in string:
        output = 'Chemistry'
    elif 'CHIN' in string:
        output = 'Chinese Studies'
    elif 'COGS' in string:
        output = 'Cognitive Science'
    elif 'DSGN' in string:
        output = 'Cognitive Science'
    elif 'COMM' in string:
        output = 'Communication'
    elif 'CONT' in string:
        output = 'Contemporary Issues'
    elif 'CSE' in string:
        output = 'Computer Science'
    elif 'DOC' in string:
        output = 'Dimensions of Culture'
    elif 'ECE' in string:
        output = 'Electrical & Computer Eng.'
    elif 'ECON' in string:
        output = 'Economics'
    elif 'EDS' in string:
        output = 'Education Studies'
    elif 'ENVR' in string:
        output = 'Environmental Studies'
    elif 'ERC' in string:
        output = 'ERC'
    elif 'ESYS' in string:
        output = 'Environmental Systems'
    elif 'ETHN' in string:
        output = 'Ethnic Studies'
    elif 'FILM' in string:
        output = 'Film'
    elif 'HDP' in string:
        output = 'Human Development Program'
    elif 'HI' in string:
        output = 'History'
    elif 'HMNR' in string:
        output = 'Human Rights'
    elif 'HUM' in string:
        output = 'Humanitites'
    elif 'ICAM' in string:
        output = 'Inter. Computing and the Arts'
    elif 'INTL' in string:
        output = 'International Studies'
    elif 'JAPN' in string:
        output = 'Japanese Studies'
    elif 'JUDA' in string:
        output = 'Judaic Studies'
    elif 'LATI' in string:
        output = 'Latin American Studies'
    elif 'LAWS' in string:
        output = 'Law & Society'
    elif 'LI' in string:
        output = 'Linguistics'
    elif 'LT' in string:
        output = 'Literature'
    elif 'MAE' in string:
        output = 'Mechanical & Aerospace Eng.'
    elif 'MATH' in string:
        output = 'Mathematics'
    elif 'MMW' in string:
        output = 'Making of the Modern World'
    elif 'MUIR' in string:
        output = 'Muir College'
    elif 'MUS' in string:
        output = 'Music'
    elif 'CENG' in string:
        output = 'NanoEngineering'
    elif 'NANO' in string:
        output = 'NanoEngineering'
    elif 'PHIL' in string:
        output = 'Philosophy'
    elif 'PHYS' in string:
        output = 'Physics'
    elif 'POLI' in string:
        output = 'Political Science'
    elif 'PSYC' in string:
        output = 'Psychology'
    elif 'RELI' in string:
        output = 'The Study of Religion'
    elif 'REV' in string:
        output = 'Revelle College'
    elif 'MGT' in string:
        output = 'Rady School of Management'
    elif 'SE' in string:
        output = 'Structural Engineering'
    elif 'SIO' in string:
        output = 'SIO'
    elif 'SOCI' in string:
        output = 'Sociology'
    elif 'ENG' in string:
        output = 'Jacobs School of Engineering'
    elif 'SXTH' in string:
        output = 'Sixth College'
    elif 'TD' in string:
        output = 'Theatre & Dance'
    elif 'TMC' in string:
        output = 'Thurgood Marshall College'
    elif 'TWS' in string:
        output = 'Third World Studies'
    elif 'USP' in string:
        output = 'Urban Studies and Planning'
    elif 'VIS' in string:
        output = 'Visual Arts'
    elif 'WARR' in string:
        output = 'Warren College'
    elif 'WCWP' in string:
        output = 'Warren College Writing Program'
    else:
        output = np.nan
    
    return output

In [6]:
## Testing the function

standardize_department('WCWP 100 - Academic Writing (B)')

'Warren College Writing Program'

In [7]:
copy.columns = ['Instructor', 'Department', 'Enroll', 'Rcmnd Instr', 'Average Grade Expected']

In [8]:
## Applying the function to standardize the department

copy['Department'] = copy['Department'].apply(standardize_department)

In [9]:
copy

,Instructor,Department,Enroll,Rcmnd Instr,Average Grade Expected
0,"Ben-Yosef, Erez",Anthropology,19,\n100.0 %\n,\nB+ (3.64)\n
1,"D'Alpoim Guedes, Jade A",Anthropology,39,\n100.0 %\n,\nA- (3.75)\n
2,"Marchetto, Maria Carolina",Anthropology,25,\n100.0 %\n,\nA- (3.91)\n
3,"Non, Amy L",Anthropology,30,\n93.3 %\n,\nB (3.13)\n
4,"Non, Amy L",Anthropology,11,\n85.7 %\n,\nB (3.14)\n
...,...,...,...,...,...
4112,"Pafunda, Danielle",Literature,18,100.0 %,A (4.00)
4113,"Hoang, Lily Kim",Literature,12,100.0 %,A- (3.75)
4114,"Hoang, Lily Kim",Literature,34,85.7 %,A- (3.86)
4115,"Doller, Ben",Literature,99,91.7 %,A- (3.87)
4116,"Forbes, Camille",Literature,61,89.1 %,B+ (3.45)

# Dropping Null Values

In the initial data set there were many empty values in the column of Average grade expected. However, there were also entries in this column that were N/A or nan. Therefore, we must standardize these null and empty values to be np.nan first, so that we can make use of the function .isnull() to drop all the corresponding rows. However, if we drop one course of an instructor, we must also drop all the rows that correspond to that instructor as well. This is because our income dataset only show the salary that a professor made in a year. Therefore, if we drop one row of an instructor, the data will no longer be accurate for how many classes that instructor taught in a year or for their average grade that year.

In [29]:
def standardize_grade(string):
    string = str(string)
    string = string.strip()
    
    if 'nan' in string:
        return np.nan
    if 'N/A' in string:
        return np.nan
    if '' == string:
        return np.nan
        
    return string

In [30]:
## Applying the function to standardize null and empty entries for average grade

copy['Average Grade Expected'] = copy['Average Grade Expected'].apply(standardize_grade)

In [28]:
## Determines which rows should be dropped

rows_to_drop = copy[copy.isnull().any(axis=1)]

In [14]:
## Determines the instructor that must be dropped from the data above

arr = []
for i in rows_to_drop.index:
    arr.append(rows_to_drop.loc[i,'Instructor'])
    
rows_to_drop

,Instructor,Department,Enroll,Rcmnd Instr,Average Grade Expected
78,"Jordan, David K.",Anthropology,14,\n88.9 %\n,NaN
79,"Jordan, David K.",Anthropology,13,\n100.0 %\n,NaN
121,"Omens, Jeffrey Howard",Bioengineering,13,\n100.0 %\n,NaN
142,"Gough, David A.",Bioengineering,9,\n100.0 %\n,NaN
143,"Engler, Adam J.",Bioengineering,14,\n100.0 %\n,NaN
...,...,...,...,...,...
3902,"Radic, Zoran",Warren College,9,\n100.0 %\n,NaN
4007,"Nguyen, Hoang Tan",Literature,9,100.0 %,NaN
4047,"Lampert-Weissig, Lisa",Literature,11,100.0 %,NaN
4059,"Nguyen, Hoang Tan",Literature,19,94.4 %,NaN
4108,"Lampert-Weissig, Lisa",Literature,16,100.0 %,NaN

In [31]:
## Drops all the data pertaining to the instructors in the array above
        
for i in arr:
    copy = copy[copy['Instructor'] != i]

In [16]:
## Reordering the indices after dropping all the rows. 

copy.reset_index(drop=True, inplace=True)

# Standardizing Letter Grades

Since the average gpa of a course is a more accurate representation of grades than the average letter grade, we decided to keep only the gpa portion of the string. To do so we find the index of the '(' character which denotes the start of the gpa and the index of the ')' character which denotes the ending of the gpa. We return only the value in between these indices, which we type casted to be a float. This will allow for mathematical calculations later.

In [18]:
def standardize_letter(string):
    string = str(string)
    begin = string.find('(')
    end = string.find(')')
    string = string[begin + 1 : end]
 
          
    return float(string)

In [19]:
## Applying the above function to the average grade column 

copy['Average Grade Expected'] = copy['Average Grade Expected'].apply(standardize_letter)

# Standardize recommendation
In the initial dataset, the recommendation of a professor is stored as a string even though it is a numerical value. In order to cast it into a float, which allows for easier calculations later, we declared a function to do so. We stripped all the extra white space and characters returned a casted float value.

In [32]:
def standardize_recommendation(string):
    string = str(string)
    end = string.find('%')
    string = string[: end]
 
          
    return float(string)

In [21]:
## Applying the function above to the recommendation column.

copy['Rcmnd Instr'] = copy['Rcmnd Instr'].apply(standardize_recommendation)

# Combining Rows

Each row of the initial dataset represented a specific course. However, we want each row to represent an instructor with their average statistic for the year 2018. To do this, we first created four dictionaries. For each dictionary the key was an instructor and the values were the statistics that corresponded to that instructor. To populate information into these dictionaries we parsed through every row of the dataset and added all the statistics to their corresponding dictionary. After parsing through all the rows, we parsed through all the instructors to calculate the average for that specific statistic in the dictionary. Note that we did not do this for enrollment dictionary as we did not want the average number a instructor taught but rather the total number of students they taught for 2018. After calculating each statistic for that instructor, we added a row to a new dataframe with the corresponding instructor and his or her statistics.

In [23]:
## Populating the four dictionaries

rcmndDict = {}
gradeDict = {}
enrollDict = {}
departDict = {}
for i in copy.index:
    instr = copy.loc[i, 'Instructor']
    rccmd = copy.loc[i, 'Rcmnd Instr']
    grade = copy.loc[i, 'Average Grade Expected']
    depart = copy.loc[i, 'Department']
    enroll = copy.loc[i, 'Enroll']
    if instr in rcmndDict:
        arr = rcmndDict[instr]
        arr.append(rccmd)
        rcmndDict[instr] = arr
        
        arr = gradeDict[instr]
        arr.append(grade)
        gradeDict[instr] = arr
        
        enrollDict[instr] = enrollDict[instr] + enroll
        
        arr = departDict[instr]
        if depart not in arr:
            arr.append(depart)
            departDict[instr] = arr
    else:
        rcmndDict[instr] = [rccmd]
        gradeDict[instr] = [grade]
        departDict[instr] = [depart]
        enrollDict[instr] = enroll

In [24]:
## Creating a new dataframe where every row correlates to an instructor.

data = {'Instructor': [], 'Department' : [], 'Rcmnd Instr' : [], 'Average Grade Expected' : [], 'Classes Taught' : [], 'Enrolled' : [] }
df = pd.DataFrame(data=data)

In [33]:
## Calculating the average statistics for a professor and adding it to the new dataframe

for instr in rcmndDict:
    rcmndArr = rcmndDict[instr]
    gradeArr = gradeDict[instr]
    departArr = departDict[instr]
    rcmndAvg = 0
    gradeAvg = 0
    count = len(gradeArr)
    for i in range (0,count):
        rcmndAvg += rcmndArr[i]
        
    rcmndAvg /= count
    
    for i in range (0,count):
        gradeAvg += gradeArr[i]
        
    gradeAvg /= count

    depart = departArr[0]
    
    if len(departArr) > 1:
        depart = 'other'
    
    df = df.append({'Instructor' : instr, 'Department' : depart, 'Rcmnd Instr' : rcmndAvg, 'Average Grade Expected' : gradeAvg, 'Classes Taught': count, 'Enrolled' : enrollDict[instr]  }, ignore_index=True)

In [34]:
df

,Instructor,Department,Rcmnd Instr,Average Grade Expected,Classes Taught,Enrolled
0,"Ben-Yosef, Erez",Anthropology,100.000000,3.6400,1.0,19.0
1,"D'Alpoim Guedes, Jade A",Anthropology,100.000000,3.7500,1.0,39.0
2,"Marchetto, Maria Carolina",Anthropology,100.000000,3.9100,1.0,25.0
3,"Non, Amy L",Anthropology,90.966667,3.2800,3.0,91.0
4,"Lew, Caroline Horton",Anthropology,88.100000,3.6850,2.0,72.0
...,...,...,...,...,...,...
3073,"Pafunda, Danielle",Literature,98.075000,3.8075,4.0,139.0
3074,"Johnson, Sara E.",Literature,97.200000,3.6900,1.0,45.0
3075,"Morse, Ainsley",Literature,100.000000,3.7000,2.0,30.0
3076,"Kokotovic, Milos",Literature,100.000000,3.7550,2.0,43.0
3077,"Doller, Ben",Literature,91.700000,3.8700,1.0,99.0

In [27]:
## Exporting the cleaned dataset

df.to_csv('CapesCleaned.csv')